<div class="center jumbotron">
  <h2>New Plant</h2>
  <%= form_for @plant, class:"plant-form" do |f|%>
    <div class="row">
      <div class="row form-group">
        <%= f.label :common_name, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :common_name, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :scientific_name, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :scientific_name, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :nickname, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :nickname, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :origin, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.text_field :origin, class: "form-control" %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :watering_schedule, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.select :watering_schedule, ["Weekly", "Bi-Weekly", "Monthly", "Sparse"], {}, { class: "form-control" } %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :light_requirement, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.select :light_requirement, ["Direct Sunlight", "Indirect Sunlight", "Shady/Dark"], {}, { class: "form-control" } %>
        </div>
      </div>
      <div class="row form-group">
        <%= f.label :image, class: "col-sm-6 text-left" %>
        <div class="col-sm-6">
          <%= f.file_field :image, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <%= f.submit class: "btn btn-plum" %>
    </div>
  <% end %>
</div>
